*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(112, 201, 112);
}

h1{
    
}

.blue{
    background-color: rgb(57, 149, 220);
}


/*Intestazione*/

header{
    height: 60px;
    background-color: white;
    padding-left: 10px;
}

.logo{
    margin: 5px;
}

.logotext{
    font-size: 30px;
    font-weight: bolder;
    display: inline-block;
    height: 90px;
    vertical-align: middle;
}

/*Contenitore*/

.contenitore{
    background-color: white;
    margin: 10px auto;
    width: 900px;    
}

nav{
    height: 40px;
    line-height: 40px;
}

.box{
    padding: 2px 10px;
    vertical-align: middle;
}